- name: Execute operation {{ execute_rp_op_operation }} against reverse proxy
  ibm.isam.isam:
    log:       "{{ log_level | default('INFO') }}"
    force:     "{{ force | default(False) }}"
    action: ibmsecurity.isam.web.reverse_proxy.instance.execute
    isamapi:
      id: "{{ item['id'] }}"
      operation: "{{ execute_rp_op_operation }}"
  with_items: "{{ execute_rp_op_ids | default({}) }}"
  when: execute_rp_op_ids is defined and execute_rp_op_operation is defined
