# main task to create sso key files
# Example:
#   sso_keys:
#     - file: uploads/sso_keys/failover.key
- name: Create sso key files
  ibm.isam.isam:
    log:       "{{ log_level | default(omit) }}"
    force:     "{{ force | default(omit) }}"
    action: ibmsecurity.isam.web.sso_keys.add
    isamapi:
      ssokey_name: "{{ item.file | basename }}"
  when: item.file is defined
  with_items: "{{ sso_keys }}"
  loop_control:
    label: "{{ item.file | basename }}"
  notify: Commit Changes
