---
- name: Converge
  hosts: all
  gather_facts: False
  tasks:
    - name: "Include configure_api_protection_definitions"
      include_role:
        name: "configure_api_protection_definitions"
      vars:
        api_protection:
          definitions:
            - name: "{{ molecule_definition_name }}"
              description: "{{ molecule_description }}"
              tcmBehavior: "{{ molecule_tcmBehavior }}"
