---
- name: Update management ssl certificate
  ibm.isam.isam:
    log: "{{ log_level | default('INFO') }}"
    force: "{{ force | default(False) }}"
    action: ibmsecurity.isam.base.management_ssl_certificate.set
    isamapi:
      certificate: "{{ update_management_ssl_cert_cert }}"
  when: update_management_ssl_cert_cert is defined and update_management_ssl_cert_pwd is defined
  notify: Commit Changes
