---
- name: Export cluster signature from Primary appliance
  ibm.isam.isam:
    log: "{{ log_level | default('INFO') }}"
    force: "{{ force | default(False) }}"
    action: ibmsecurity.isam.base.cluster.signature.export
    isamapi:
      filename: "{{ export_cluster_sign_filename }}"
  when: export_cluster_sign_filename is defined
