---
# tasks file for get_point_of_contact
- name: Get a point of contact by name
  ibm.isam.isam:
    log: "{{ log_level | default('INFO') }}"
    force: "{{ force | default(False) }}"
    action: ibmsecurity.isam.fed.point_of_contact.get
    isamapi:
      name: "{{ get_point_of_contact_name }}"
  when: get_point_of_contact_name is defined
  register: ret_obj
