---
# Configure
#   configure reverse proxy junctions
#   Example:
#     instances:
#       -   inst_name: default
#           junctions:
#             -   junction_point:             "/jct1"
#                 junction_type:              "tcp"
#                 servers:
#                     -   server_hostname:    "localhost"
#                         server_port:        443
- hosts: "{{ hosts | default('all')}}"
  connection: local
  gather_facts: no
  roles:
    - role: web/configure_reverseproxy_junctions
      tags: configure_reverseproxy_junctions
      