---
# Configure
#   configure reverse proxy instances
- hosts: "{{ hosts | default('all')}}"
  gather_facts: False
  roles:
    - role: ibm.isam.web.configure_reverseproxy_instances
      tags: configure_reverseproxy_instances
