---
# configure_policyserver
#   playbook to configure an ISAM Policy Server
- hosts: "{{ hosts | default('all')}}"
  gather_facts: False
  roles:
    - role: ibm.isam.web.configure_policyserver
      tags: configure_policyserver
