---
# restart
#   restart reverse proxy instance/s
- hosts: "{{ hosts | default('all')}}"
  gather_facts: no
  roles:
    - role: ibm.isam.web/restart_reverseproxy_instance
      tags: restart_reverseproxy_instance
