---
# restart
#   restart reverse proxy instance/s
- hosts: "{{ hosts | default('all')}}"
  gather_facts: False
  roles:
    - role: ibm.isam.web.restart_reverseproxy_instances
      tags: restart_reverseproxy_instance
