---
# update p12 in kdb
#   example
#     import_personal_cert_kdb_id: pdsrv
#     import_personal_cert_label: wildcard.test.net
#     import_personal_cert_cert: "uploads/ssl/wildcard.test.net.p12"
#     import_personal_cert_password: "{{ personal_cert_password }}"
- name: Update personal cert
  hosts: "{{ hosts | default('all') }}"
  gather_facts: false
  roles:
    - role: ibm.isam.import_personal_cert
      tags: import_personal_cert
