- name: Get Junctions in Reverse Proxy
  ibm.isam.isam:
    log:       "{{ log_level | default('INFO') }}"
    force:     "{{ force | default(False) }}"
    action: ibmsecurity.isam.web.reverse_proxy.junctions.get_all
    isamapi:
      reverseproxy_id: "{{ item['id'] }}"
  register: ret_obj
  when: reverseproxy_ret_obj is defined
  with_items: "{{ reverseproxy_ret_obj['data'] | default([]) }}"

- name: Set variable for use by rest of playbook
  set_fact:
    junction_ret_obj: "{{ ret_obj }}"
