 - name: Add Federation Partner - {{ add_partner_partner_name }} to {{ add_partner_federation_name }}
   ibm.isam.isam:
     log:       "{{ log_level | default('INFO') }}"
     force:     "{{ force | default(False) }}"
     action: ibmsecurity.isam.fed.partners.add
     isamapi:
        federation_name: "{{ add_partner_federation_name }}"
        partner_name:    "{{ add_partner_partner_name }}"
        enabled:         "{{ add_partner_enabled }}"
        role: ibm.isam.           "{{ add_partner_role }}"
        configuration:   "{{ add_partner_configuration }}"
        templateName:    "{{ add_partner_templateName }}"
   when:
     - add_partner_federation_name is defined
     - add_partner_partner_name is defined
     - add_partner_enabled is defined
     - add_partner_role is defined
     - add_partner_configuration is defined
     - add_partner_templateName is defined
   notify:
     - Commit Changes
     - Reload Liberty Runtime
