---
- name: Converge
  hosts: all
  gather_facts: False
  tasks:
    - name: "Include get_obligations_by_name"
      ansible.builtin.include_role:
        name: "get_obligations_by_name"
      vars:
        get_obligations:
          - name: "{{ name }}"
        register: ret_obj
