- name: Set Certificate Keystore Replication Status in a cluster
  ibm.isam.isam:
    log:       "{{ log_level | default('INFO') }}"
    force:     "{{ force | default(False) }}"
    action: ibmsecurity.isam.base.ssl_certificates.replication.set
    isamapi:
      replicating: "{{ set_cert_replication_replicating }}"
  when: set_cert_replication_replicating is defined
  notify:
    - Commit Changes
