[defaults]
# (pathspec) Colon-separated paths in which Ansible will search for Roles.
;roles_path=~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
roles_path=~/.ansible/roles:/home/runner/work/isam-ansible-collection/isam-ansible-collection/roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:roles
