---

- name: Verify
  hosts: all
  gather_facts: no
  tasks:
    - ansible.builtin.include_vars:
        file: "../../vars/main.yml"
        name: inventory

    - name: "Include get_api_protection_definitions"
      include_role:
        name: "get_api_protection_definitions"
      vars:
        get_api_protection_definitions: "{{ inventory.definitions }}"

    - name: "Assert that the client {{ inventory.definition_name }} was added"
      assert:
        that:
          - ret_obj.results.0.data.name is defined
          - ret_obj.results.0.data.name == inventory.definition_name
        fail_msg: "API Protection definition {{ inventory.definition_name }} was not added"
        success_msg: "API Protection definition {{ inventory.definition_name }} was added"
