# main task: personal_certificates
---
- name: Import personal certificates into certificate store
  ibm.isam.isam:
    log: "{{ log_level | default(omit) }}"
    force: "{{ force | default(omit) }}"
    action: ibmsecurity.isam.base.ssl_certificates.personal_certificate.import_cert
    isamapi:
      kdb_id: "{{ item.kdb_id }}"
      label: "{{ item.label }}"
      cert: "{{ inventory_dir }}/{{ item.cert }}"
  with_items: "{{ personal_certificates }}"
  notify: Commit Changes
