---
- name: Converge
  hosts: all
  gather_facts: no
  collections:
    - ibm.isam
  tasks:
    - name: "Test delete using delete_attribute role"
      ansible.builtin.include_role:
        name: delete_attribute
      vars:
        accesscontrol_delete_attributes:
          - name: "{{ name }}"
      register: ret_obj
