---
# This is an example playbook to execute Ansible tests.

- name: Verify
  hosts: all
  gather_facts: no
  tasks:
    - ansible.builtin.include_vars::
        file: "../../vars/main.yml"
        name: inventory

    - name: "Include get_access_control_attributes"
      include_role:
        name: get_access_control_attributes
      vars:
        get_access_control_attributes:
          - name: "{{ inventory.name }}"

    - name: "Assert that attribute {{ inventory.name }} is deleted"
      assert:
        that: ret_obj.results.0.data.name is not defined
        fail_msg: "Attribute {{ inventory.name }} was not deleted"
        success_msg: "Attribute {{ inventory.name }} was deleted"
