- name: Configure Reverse Proxy stanza(s) entries (Deletes)
  ibm.isam.isam:
    log: "{{ log_level | default('INFO') }}"
    force: "{{ force | default(False) }}"
    action: ibmsecurity.isam.web.reverse_proxy.configuration.entry.delete
    isamapi:
      reverseproxy_id: "{{ delete_reverseproxy_conf_reverseproxy_id }}"
      stanza_id: "{{ item.stanza_id }}"
      entry_id: "{{ item.entry_id }}"
      value_id: "{{ item.value_id | default(None) }}"
  with_items: "{{ delete_reverseproxy_conf_entries }}"
  when: delete_reverseproxy_conf_entries is defined and delete_reverseproxy_conf_reverseproxy_id is defined
  notify:
  - Commit Changes
  - Restart Reverse Proxy
