---

- name: Compare Certificate Database->{{ cert_db.id }} Signer Certificates
  ibm.isam.isamcompare:
    appliance1: "{{ inventory_hostname }}"
    appliance2: "{{ master_hostname }}"
    password1: "{{ ansible_isam_password }}"
    password2: "{{ master_password }}"
    log: "{{ log_level | default('INFO') }}"
    action: ibmsecurity.isam.base.ssl_certificates.signer_certificate
    isamapi:
      kdb_id: "{{ cert_db.id }}"
  ignore_errors: true
  register: ret_obj

- name: Show Differences - values do not match!
  ansible.builtin.debug: msg="{{ ret_obj['data']['difference'].split('\n') }}"
  ignore_errors: true
  when:
    - ret_obj['data']['matches'] is defined
    - not ret_obj['data']['matches']

- name: Show Log - command failed!
  ansible.builtin.debug: msg="{{ ret_obj['log'].split('\n') }}"
  ignore_errors: true
  when: ret_obj['failed'] is true

- name: Compare Certificate Database->{{ cert_db.id }} Personal Certificates
  ibm.isam.isamcompare:
    appliance1: "{{ inventory_hostname }}"
    appliance2: "{{ master_hostname }}"
    password1: "{{ ansible_isam_password }}"
    password2: "{{ master_password }}"
    log: "{{ log_level | default('INFO') }}"
    action: ibmsecurity.isam.base.ssl_certificates.personal_certificate
    isamapi:
      kdb_id: "{{ cert_db.id }}"
  ignore_errors: true
  register: ret_obj

- name: Show Differences - values do not match!
  ansible.builtin.debug: msg="{{ ret_obj['data']['difference'].split('\n') }}"
  ignore_errors: true
  when:
    - ret_obj['data']['matches'] is defined
    - not ret_obj['data']['matches']

- name: Show Log - command failed!
  ansible.builtin.debug: msg="{{ ret_obj['log'].split('\n') }}"
  ignore_errors: true
  when: ret_obj['failed'] is true
