---
# accept service agreements
- name: Accept Service Agreements
  vars:
    ansible_password: "{{ first_steps_default_password }}"
  ibm.isam.isam:
    action: ibmsecurity.isam.base.service_agreement.set
    log: "{{ log_level | default(omit) }}"

# set up LMI FIPS
- name: Setup FIPS Mode
  ibm.isam.isam:
    action: ibmsecurity.isam.base.fips.set
    log: "{{ log_level | default(omit) }}"
    isamapi:
        fipsEnabled: "{{ FIPS_cfg.fipsEnabled }}"
        tlsv10Enabled: "{{ FIPS_cfg.tlsv10Enabled }}"
        tlsv11Enabled: "{{ FIPS_cfg.tlsv11Enabled }}"
  register: ret_obj
  when:
    - FIPS_cfg is defined
    - FIPS_cfg.fipsEnabled

# Restart after FIPS if needed
- name: Restart after enabling FIPS
  ibm.isam.isam:
    action: ibmsecurity.isam.base.fips.restart_and_wait
    log: "{{ log_level | default(omit) }}"
  when: ret_obj.changed

# Complete the appliance set up
- name: Complete Appliance Setup
  ibm.isam.isam:
    action: ibmsecurity.isam.base.setup_complete.set
    log: "{{ log_level | default(omit) }}"
  notify: Commit Changes