---
- name: Converge
  hosts: all
  gather_facts: no
  vars:
    molecule_name: test2
    molecule_file: /location/of/the/file.js
  tasks:
    - name: "Test add using set_access_policies role"
      ansible.builtin.include_role:
        name: "set_access_policies"
      vars:
        access_policies:
          - name: "{{ molecule_name }}"
            file: "{{ molecule_file }}"
