- name: Set Web Runtime Replication Status in a cluster
  ibm.isam.isam:
    log:       "{{ log_level | default('INFO') }}"
    force:     "{{ force | default(False) }}"
    action: ibmsecurity.isam.web.runtime.replication.set
    isamapi:
      replicating: "{{ set_runtime_replication_replicating }}"
  when: set_runtime_replication_replicating is defined
  notify:
    - Commit Changes
