---
# This is an example playbook to execute Ansible tests.

- name: Verify
  hosts: all
  gather_facts: no
  tasks:
    - ansible.builtin.include_vars:
        file: "../../vars/main.yml"
        name: inventory

    - name: "Include get_access_control_attributes"
      include_role:
        name: "get_access_control_attributes"
      vars:
        get_access_control_attributes:
          - name: "{{ inventory.name }}"

    - name: "Assert that attribute description was updated"
      assert:
        that:
          - ret_obj.results.0.data.name == inventory.name
          - ret_obj.results.0.data.description == inventory.update_description
        fail_msg: "Attribute description was not updated"
        success_msg: "Attribute description was updated"
