# It is recommended to create a policy using LMI and export the XML file to use
# in the "policy" attribute for this task
- name: Set Access Control Policy - {{ set_access_control_policy_name }}
  ibm.isam.isam:
    log:       "{{ log_level | default('INFO') }}"
    force:     "{{ force | default(False) }}"
    action: ibmsecurity.isam.aac.access_control.policies.set_file
    isamapi:
      name:               "{{ set_access_control_policy_name }}"
      policy_file:        "{{ set_access_control_policy_policy_file }}"
      description:        "{{ set_access_control_policy_description }}"
      attributesrequired: "{{ set_access_control_policy_attributesrequired }}"
      dialect:            "{{ set_access_control_policy_dialect }}"
      predefined:         "{{ set_access_control_policy_predefined }}"
      new_name:           "{{ set_access_control_policy_new_name }}"
  when:
    - set_access_control_policy_name is defined
    - set_access_control_policy_policy_file is defined
    - set_access_control_policy_attributesrequired is defined
  notify: Commit Changes
