# main task to upload jmt files
# Example:
#   jmt_files:
#     - file: uploads/jmt/jmt.conf
---
- name: Upload jmt files
  ibm.isam.isam:
    log: "{{ log_level | default(omit) }}"
    force: "{{ force | default(omit) }}"
    action: ibmsecurity.isam.web.junction_mapping.update
    isamapi:
      id: "{{ item.file | basename }}"
      jmt_config_data: "{{ lookup('file', homedir + '/' + item.file) | replace('\n', '\\n') | replace('\"', '\\\"') }}"
  loop: "{{ jmt_files }}"
  loop_control:
    label: Upload {{ item.file | default(None) }}
  when:
    - item.file is defined
  notify: Commit Changes
