- name: Update Advanced Configuration - {{ update_advanced_configuration_key }}
  ibm.isam.isam:
    log:       "{{ log_level | default('INFO') }}"
    force:     "{{ force | default(False) }}"
    action: ibmsecurity.isam.aac.advanced_configuration.update
    isamapi:
      key:       "{{ update_advanced_configuration_key }}"
      value:     "{{ update_advanced_configuration_value }}"
      sensitive: "{{ update_advanced_configuration_sensitive }}"
  notify:
    - Commit Changes
    - Restart AAC Runtime
