---
- name: Converge - get mapping rule by name
  hosts: all
  gather_facts: no
  tasks:
    - name: "Include get_mapping_rule_by_Name"
      include_role:
        name: get_mapping_rule_by_name
      vars:
        get_mapping_rule_names:
          - name: "{{ name }}"
        register: ret_obj

    - ansible.builtin.debug:
        var: ret_obj
