---
# Provide the following values
#update_point_of_contact_name:

# Optional values
update_point_of_contact_description:
update_point_of_contact_authenticateCallbacks:
update_point_of_contact_authnPolicyCallbacks:
update_point_of_contact_localIdCallbacks:
update_point_of_contact_signInCallbacks:
update_point_of_contact_signOutCallbacks:

#  This is a sample role usage that creates a new Point Of Contact profile that replicates the default existing "Access Manager Username and extended attributes" profile
#
#- role: ibm.isam.update_point_of_contact
#  update_point_of_contact_name: A new Point of Contact profile"
#  update_point_of_contact_authenticateCallbacks: [{"index":0,"parameters":[{"name":"authentication.macros","value":""},{"name":"fim.user.request.header.name","value":"iv-user"}],"moduleReferenceId":"websealPocAuthenticateCallback"}]
#  update_point_of_contact_authnPolicyCallbacks: [{"index":0,"parameters":[{"name":"SPS.http.request.claims.filter.spec","value":"cookies=*:headers=*"},{"name":"SPS.http.request.claims.enabled","value":"false"},{"name":"authentication.type","value":"COMPLEMENTARY"},{"name":"authentication.level","value":"1"},{"name":"authentication.mode","value":"INDIVIDUAL"},{"name":"allow.authentication.policy.request.overrides","value":"false"}],"moduleReferenceId":"genericPocAuthnPolicyCallback"}]
#  update_point_of_contact_localIdCallbacks: [{"index":0,"parameters":[{"name":"fim.attributes.request.header.name","value":""},{"name":"fim.groups.request.header.name","value":"iv-groups"},{"name":"fim.cred.request.header.name","value":"iv-creds"},{"name":"fim.user.request.header.name","value":"iv-user"}],"moduleReferenceId":"websealPocLocalIdentityCallback"}]
#  update_point_of_contact_signInCallbacks: [{"index":0,"parameters":[{"name":"fim.user.response.header.name","value":"am-eai-user-id"},{"name":"fim.user.session.id.response.header.name","value":""},{"name":"fim.target.response.header.name","value":"am-eai-redir-url"},{"name":"fim.attributes.response.header.name","value":"am-eai-xattrs"},{"name":"fim.groups.response.header.name","value":""},{"name":"url.encoding.enabled","value":"false"},{"name":"fim.server.response.header.name","value":""},{"name":"fim.cred.response.header.name","value":""},{"name":"fim.user.request.header.name","value":"iv-user"}],"moduleReferenceId":"websealPocSignInCallback"}]
#  update_point_of_contact_signOutCallbacks: [{"index":0,"parameters":[{"name":"fim.user.session.id.request.header.name","value":"user_session_id"},{"name":"fim.user.request.header.name","value":"iv-user"}],"moduleReferenceId":"websealPocSignOutCallback"}]
