---
# main task to export runtime template root contents
- name: Export a runtime template zip file
  ibm.isam.isam:
    log: "{{ log_level | default(omit) }}"
    force: "{{ force | default(omit) }}"
    action: ibmsecurity.isam.aac.runtime_template.root.export_file
    isamapi:
      filename: "{{ homedir }}/{{ file }}"
  when:
    - file is defined
    - file != 'none'