---
- name: Converge - delete an user registry
  hosts: all
  gather_facts: no
  tasks:
    - name: "Testing delete - configure_user_registry"
      ansible.builtin.include_role:
        name: configure_user_registry
      vars:
        user_registry:
          # delete an existing user
          - registry_action: "user.delete"
            id: "{{ id }}"
