---
- name: Help INFO (-e help=true)
  ansible.builtin.pause:
    echo: yes
    prompt: |
      NAME
        create_reverseproxy_instances

      DESCRIPTION
        Role to create reverse proxy instance

      STEPS
        1) Create reverse proxy instances
        2) Commit changes

      EXAMPLES
        ansible-playbook -i [...] playbooks/ansible_collections/web/create_reverseproxy_instances.yml
        ansible-playbook -i [...] playbooks/ansible_collections/web/create_reverseproxy_instances.yml -e inst_name=default // limit the creation of reverse proxy instances at runtime

      INVENTORY
      ==========
      instances:
        # create default instance (docker based)
        - inst_name: default
          configuration:
            host: "{{ '{{ inventory_hostname }}' }}"
            admin_id: sec_master
            admin_pwd: "{{ '{{ admin_pwd }}' }}"
            https_yn: 'yes'
            ssl_yn: "on"
            key_file: "Registry_Keystore.kdb"
            ssl_port: "636"
        # create default instance (appliance based)
        - inst_name: default
          configuration:
            host: "{{ '{{ inventory_hostname }}' }}"
            listening_port: 7234
            admin_id: sec_master
            admin_pwd: "{{ '{{ admin_pwd }}' }}"
            http_yn: 'no'
            http_port: 80
            https_yn: 'yes'
            https_port: 443
            nw_interface_yn: 'yes'
            ip_address: "{{ '{{ interfaces[0].addresses[1].address }}' }}"
      ==========

      INTERACTION
        ENTER         = continue
        Ctrl+C + 'C'  = continue
        Ctrl+C + 'A'  = abort
  when: help is defined

- name: Create reverse proxy instances
  ibm.isam.isam:
    log: "{{ log_level | default(omit) }}"
    force: "{{ force | default(omit) }}"
    action: ibmsecurity.isam.web.reverse_proxy.instance.add
    isamapi: "{{ item.configuration | combine({ 'inst_name': item.inst_name })}}"
  with_items: "{{ instances }}"
  when: item.configuration is defined and item.inst_name == inst_name
  loop_control:
   label: "{'inst_name': {{ item.inst_name }}{{ (', ' + \"'ip_address'\" + ': ' + item.configuration.ip_address)  if item.configuration.ip_address is defined }}}"
  notify: Commit Changes
