- name: Load Signer Certificate from a server/port into Keystore
  ibm.isam.isam:
    log: "{{ log_level | default('INFO') }}"
    force: "{{ force | default(False) }}"
    action: ibmsecurity.isam.base.ssl_certificates.signer_certificate.load
    isamapi:
      kdb_id: "{{ load_signer_cert_kdb_id }}"
      label: "{{ load_signer_cert_label }}"
      server: "{{ load_signer_cert_server }}"
      port: "{{ load_signer_cert_port }}"
  when: load_signer_cert_kdb_id is defined and load_signer_cert_label is defined and load_signer_cert_server is defined and load_signer_cert_port is defined
  notify: Commit Changes

# Commit all changes made to date
- ansible.builtin.meta: flush_handlers
