---
# Fill in the value for inventory_dir in vars/main.yml.  The value is for the directory location
# that contains the mapping rule file

- name: Converge - delete mapping rules
  hosts: all
  gather_facts: no
  tasks:
    - name: load variables
      include_vars:
        file: "../vars/vars.yml"

    - name: "Testing delete - configure_mapping_rules"
      include_role:
        name: configure_mapping_rules
      vars:
        mapping_rules:
          - rule_action: delete
            name: "{{ molecule_name }}"
