---
# Add
#   add interfaces by following inventory structure:
#   Example:
#     interfaces:
#         -   label: '1.1'
#             addresses:
#                 -   address: "192.168.1.1"
#                     maskOrPrefix: "24"
#                     allowManagement: true
#                     enabled: true
#                 -   address: "192.168.1.2"
#                     maskOrPrefix: "24"
#                     allowManagement: false
#                     enabled: true
- hosts: "{{ hosts | default('all')}}"
  gather_facts: no
  roles:
    - role: ibm.isam.base.add_interfaces
      tags: add_interfaces
