---
# Configure
#   configure advanced tuning parameters
- hosts: "{{ hosts | default('all')}}"
  gather_facts: false
  roles:
    - role: ibm.isam.base.configure_advanced_tuning_parameters
      tags: configure_advanced_tuning_parameters
