---
# Delete
#   delete interfaces by following inventory structure:
# Example:
#   interfaces:
#      -   label: '1.1'
#          addresses:
#              -   address: "192.168.1.1"
#                  maskOrPrefix: "24"
#                  allowManagement: true
#                  enabled: true
#          #   -   address: "192.168.1.2"
#          #        maskOrPrefix: "24"
#          #        allowManagement: false
#          #        enabled: true
# Attention: commented out or missing addresses will be deleted by this role
- hosts: "{{ hosts | default('all')}}"
  gather_facts: false
  roles:
    - role: ibm.isam.base.delete_interfaces
      tags: delete_interfaces
