---
# playbook for extracting certificates
# Example inventory:
#  extract_certificates:
#      kdb_id: "{{ item.kdb_id }}"
#      cert_id: "{{ item.cert_id }}"
#      password: "{{ item.password }}"
#      filename: "{{ inventory_dir }}/{{ item.filename }}"
- name: Extract certificates
  hosts: "{{ hosts | default('all') }}"
  gather_facts: false
  roles:
    - role: ibm.isam.base.extract_certificates
      tags: extract_certificates
