---
# playbook for generating self signed certificates
# Example inventory:
#  generate_self_signed_certificates:
#      kdb_id: "{{ item.kdb_id }}"
#      label: "{{ item.label }}"
#      dn: "{{ item.dn }}"
#      expire: "{{ item.expire }}"
#      default: "{{ item.default }}"
#      size: "{{ item.size }}"
- name: Generate self signed certificates
  hosts: "{{ hosts | default('all')}}"
  gather_facts: false
  roles:
    - role: ibm.isam.base.generate_self_signed_certificates
      tags: generate_self_signed_certificates
