---

# main task for importing personal certificates
# Example inventory:
#     import_personal_certs:
#       - kdb_id: pdsrv
#         label: wildcard.test.net
#         cert: "uploads/ssl/wildcard.test.net.p12"
#         password: "{{ personal_cert_password }}"

- hosts: "{{ hosts | default('all')}}"
  gather_facts: False
  roles:
    - role: ibm.isam.base.import_personal_certificates
      tags: import_personal_certificates
