---
#   configure appliance management authorization
- hosts: "{{ hosts | default('all')}}"
  gather_facts: no
  roles:
    - role: ibm.isam.base.set_management_authorization
      tags: management_authorization
