---
# Swap Backup
#   swap backup partition for appliance firmeware recovery
#
# ! This operation restarts the system on the inactive partition.
# ! This operation restarts the appliance and might leave your network unprotected for several minutes.
# ! Are you sure you want to switch to the inactive partition?
- hosts: "{{ hosts | default('all')}}"
  connection: local
  gather_facts: no
  roles:
    - role: base/swap_firmware
      tags: swap_firmware