---
# This is an example playbook to execute Ansible tests.

- name: Verify
  hosts: all
  gather_facts: no
  tasks:
    - ansible.builtin.include_vars:
        file: "../../vars/main.yml"
        name: inventory

    - name: "Include get_access_control_attributes"
      ansible.builtin.include_role:
        name: get_access_control_attributes
      vars:
        get_access_control_attributes:
          - name: "{{ inventory.name }}"

    - name: "Assert that attribute {{ inventory.name }} is added"
      assert:
        that: ret_obj.results.0.data.name == inventory.name
        fail_msg: "Attribute {{ inventory.name }} was not added"
        success_msg: "Attribute {{ inventory.name }} was added"
