# main task to export sso key files
# Example:
#   sso_keys:
#     - file: uploads/sso_keys/failover.key
- name: Export sso key files
  ibm.isam.isam:
    log:       "{{ log_level | default(omit) }}"
    force:     "{{ force | default(omit) }}"
    action: ibmsecurity.isam.web.sso_keys.export_key
    isamapi:
      id: "{{ item.file | basename }}"
      filename: "{{ inventory_dir }}/{{ item.file }}"
  when: item.file is defined
  with_items: "{{ sso_keys }}"
  loop_control:
    label: "{ id: \"{{ item.file | basename }}\", filename: \"{{ inventory_dir }}/{{ item.file }}\" }"
  notify: Commit Changes
