# main task to upload runtime components
# Example:
#   runtime_components:
#     - migrate_file: "{{ inventory_dir }}/uploads/runtime/ldap/ldap.conf"
---
- name: Upload runtime components
  ibm.isam.isam:
    log:       "{{ log_level | default(omit) }}"
    force:     "{{ force | default(omit) }}"
    action: ibmsecurity.isam.web.runtime.configuration.file.update
    isamapi:
      resource_id:    "{{ item.migrate_file | basename }}"
      file_contents:  "{{ lookup('template', item.migrate_file) | replace('\n', '\\n') }}"
  with_items: "{{ runtime_components }}"
  notify: Commit Changes
