- name: Create LMI system account group
  ibm.isam.isam:
    log:       "{{ log_level | default('INFO') }}"
    force:     "{{ force | default(False) }}"
    action: ibmsecurity.isam.base.sysaccount.groups.create
    isamapi:
      id : "{{ add_sysaccount_group }}"
  when: add_sysaccount_group is defined
  notify: Commit Changes
