---
- name: Converge
  hosts: all
  gather_facts: no
  collections:
    - ibm.isam
  tasks:
    - ansible.builtin.debug:
        msg: "To test add using configure_access_control_attributes role:
          'molecule --base-config <dir/molecule_config_file.yml> test --scenario-name set_add'
          To test update using configure_access_control_attributes role:
          'molecule --base-config <dir/molecule_config_file.yml> test --scenario-name set_update'"
