---
- name: Create LMI system account user
  ibm.isam.isam:
    log: "{{ log_level | default('INFO') }}"
    force: "{{ force | default(False) }}"
    action: ibmsecurity.isam.base.sysaccount.users.create
    isamapi:
      id: "{{ add_sysaccount_id }}"
      password: "{{ add_sysaccount_password }}"
      groups: "{{ add_sysaccount_groups }}"
  when: add_sysaccount_id is defined
  notify: Commit Changes
