- name: Activate Modules
  ibm.isam.isam:
    log:       "{{ log_level | default(omit) }}"
    force:     "{{ force | default(omit) }}"
    action: ibmsecurity.isam.base.activation.set
    isamapi:
      id:     "{{ item.id }}"
      code:   "{{ item.code }}"
  when: item is defined and item.id is defined and item.code is defined
  with_items: "{{ activation_keys }}"
  notify: Commit Changes and Restart
  loop_control:
    label: "{u'id': u'{{ item.id }}'}"

 # Commit activation of module before doing anything else
- meta: flush_handlers
