---
- name: Converge - update configure mapping rules
  hosts: all
  gather_facts: no
  tasks:
    - name: load variables
      ansible.builtin.include_vars:
        file: "../vars/vars.yml"

    - name: "Testing update - configure_mapping_rules"
      include_role:
        name: configure_mapping_rules
      vars:
        mapping_rules:
          - rule_action: update
            name: "{{ molecule_name }}"
            file: "{{ molecule_update_file }}"
