# main task to upload jmt files
# Example:
#   http_transformations
#     - file: uploads/http_transformations/default.xslt
---
- name: Upload http transformation files
  ibm.isam.isam:
    log: "{{ log_level | default(omit) }}"
    force: "{{ force | default(omit) }}"
    action: ibmsecurity.isam.web.http_transformation.import_file
    isamapi:
      id: "{{ item.file | basename }}"
      filename: "{{ homedir }}/{{ item.file }}"
  with_items: "{{ http_transformations }}"
  when:
    - item.file is defined
  notify: Commit Changes
