---
- name: Delete management root files/directories
  ibm.isam.isam:
    log: "{{ log_level | default(omit) }}"
    force: "{{ force | default(omit) }}"
    action: "ibmsecurity.isam.web.reverse_proxy.management_root.{{ item.1.type }}.delete"
    isamapi:
      id: "{{ local_target }}"
      instance_id: "{{ item.0.inst_name }}"
  with_items: "{{ item.1.targets }}"
  loop_control:
    loop_var: local_target
    label: "{ 'mgmt_action': '{{ item.1.mgmt_action }}', 'type': '{{ item.1.type }}', 'inst_name': '{{ item.0.inst_name }}', 'target':  '{{ local_target }}' }"
  notify: Commit Changes
