# main task to configure server connections
---
- name: Configure server connections
  ibm.isam.isam:
    log:       "{{ log_level | default(omit) }}"
    force:     "{{ force | default(omit) }}"
    action: "ibmsecurity.isam.aac.server_connections.{{ item.type }}.set"
    isamapi: "{{ item | exclude('type') }}"
  when: item.type and item.name == name
  with_items: "{{ server_connections }}"
  notify: Commit Changes
