---

# main task to upload a snapshot
- name: Help INFO (-e help=true)
  pause:
    echo: yes
    prompt: |
      NAME
        upload_snapshot

      DESCRIPTION
        Role to upload single snapshot

      STEPS
        1) Upload a single snapshot

      EXAMPLES
        ansible-playbook -i [...] playbooks/ansible_collections/base/upload_snapshot.yml -e comment="<new_snapshot_comment>" -e file=files/snapshots/{{ '{{' }} inventory_hostname {{ '}}' }}_{{ '{{' }}.zip
        ansible-playbook -i [...] playbooks/ansible_collections/base/upload_snapshot.yml -e file=/ansible/inventory/ENV/files/snapshots/{{ '{{' }} inventory_hostname {{ '}}' }}_{{ '{{' }} ansible_date_time.date {{ '}}' }}.zip # file with absolute path

      INVENTORY
      ==========
      # no inventory needed

      ==========

      INTERACTION
        ENTER         = continue
        Ctrl+C + 'C'  = continue
        Ctrl+C + 'A'  = abort
  when: help is defined

- name: "Upload a snapshot [-e file=</path/to/upload/file.zip> -e comment=<optional_comment>]"
  ibm.isam.isam:
    log: "{{ log_level | default(omit) }}"
    force: "{{ force | default(omit) }}"
    action: ibmsecurity.isam.base.snapshots.upload
    isamapi:
      file: "{{ file if((file | regex_search('^/')) == '/') else (inventory_dir +'/'+ file) }}"
      comment: "{{ comment | default(omit) }}"
  when: file is defined
