---
# main task to configure access control policies

- name: Configure access control policies (json formatting is supported)
  ibm.isam.isam:
    log: "{{ log_level | default(omit) }}"
    force: "{{ force | default(omit) }}"
    action: ibmsecurity.isam.aac.access_control.policies.set
    isamapi: "{{ item }}"
  when:
    - item.name is defined
    - item.policy is defined
  loop: "{{ access_control_policies }}"
  loop_control:
    label: Configuring policy {{ item.name }} - {{ item.formatting | default('xml') }} formatting
  notify: Commit Changes
