# main task to disable all authentication policies
---
- name: Disable authentication mechanisms
  ibm.isam.isam:
    log:       "{{ log_level | default(omit) }}"
    force:     "{{ force | default(omit) }}"
    action: ibmsecurity.isam.aac.authentication.policies.get_all
  register: authPolicies

- debug: msg="{{ authPolicies.data }}"
- name: Disable all authentication mechanisms
  ibm.isam.isam:
    log:       "{{ log_level | default(omit) }}"
    force:     "{{ force | default(omit) }}"
    action: ibmsecurity.isam.aac.authentication.policies.activate
    isamapi:
      name: "{{ item.name }}"
      enabled: "FALSE"
  with_items: "{{ authPolicies.data }}"
  when: item.name is defined and item.name == name
  loop_control:
    label: "{{ item.name }}"
  notify: Commit Changes
