---

# main task to disable all authentication policies

- name: Retrieve authentication mechanisms
  ibm.isam.isam:
    log: "{{ log_level | default(omit) }}"
    force: "{{ force | default(omit) }}"
    action: ibmsecurity.isam.aac.authentication.policies.get_all
  register: authPolicies

- ansible.builtin.debug: msg="{{ authPolicies.data }}"
- name: Disable all authentication mechanisms
  ibm.isam.isam:
    log: "{{ log_level | default(omit) }}"
    force: "{{ force | default(omit) }}"
    action: ibmsecurity.isam.aac.authentication.policies.activate
    isamapi:
      name: "{{ item.name }}"
      enabled: False
  with_items: "{{ authPolicies.data }}"
  when: item.name is defined
  loop_control:
    label: "{{ item.name }}"
  notify: Commit Changes
