---
# main task to configure api protection definition
#   Example:
#       definitions:
#         - name: oauth-provider
#           description: API protection for OAuth service provider
#           grantTypes:
#             - AUTHORIZATION_CODE
#           tcmBehavior: NEVER_PROMPT

- name: Configure api protection definitions
  ibm.isam.isam:
    log: "{{ log_level | default(omit) }}"
    force: "{{ force | default(omit) }}"
    action: ibmsecurity.isam.aac.api_protection.definitions.set
    isamapi: "{{ item | ibm.isam.exclude('clients') | ibm.isam.exclude('mapping_rules') }}"
  with_items: "{{ api_protection.definitions | default([]) }}"
  when: item.name == name
  notify: Commit Changes
