---
- name: Help INFO (-e help=true)
  ansible.builtin.pause:
    echo: true
    prompt: |
      NAME
        config_reverseproxy_mmfa

      DESCRIPTION
        Role to configure existing reverse proxy instances for mmfa integration

      STEPS
        1) Configure reverse proxy for mmfa
        2) Commit changes
        *) NOT INCLUDED: Restart reverse proxy instance (use web/restart_reverseproxy_instances role to restart instances with pending changes)

      EXAMPLES
        ansible-playbook -i [...] playbooks/ansible_collections/web/config_reverseproxy_mmfa.yml

      INVENTORY
      ==========
      # configure default reverse proxy for mmfa
      instances:
        [...]
        - inst_name: default
          [...]
          # configure browser mmfa
          mmfa_configuration:
            mmfa_action: config
            lmi:
              hostname: isva-1.ibm.com
              port: '443'
              username: admin
              password: {{ '{{' }} vault_ansible_password {{ '}}' }} # ansible-vault secured pwd
            runtime:
              hostname: localhost
              port: '443'
              username: easuser
              password: {{ '{{' }} vault_easuser_pwd {{ '}}' }} # ansible-vault secured pwd
            reuse_acls: True
            reuse_certs: True
            channel: browser # 'browser' or 'mobile' or unset to configure both
          [...]
          # or unconfigure mmfa for default
          mmfa_configuration:
            mmfa_action: unconfig
      ==========

      INTERACTION
        ENTER         = continue
        Ctrl+C + 'C'  = continue
        Ctrl+C + 'A'  = abort
  when: help is defined

- name: Configure reverse proxy for mmfa
  ibm.isam.isam:
    log: "{{ log_level | default(omit) }}"
    force: "{{ force | default(omit) }}"
    action: ibmsecurity.isam.web.reverse_proxy.mmfa_configuration.{{ item.mmfa_configuration.mmfa_action }}
    isamapi: "{{ item.mmfa_configuration | ibm.isam.exclude('mmfa_action') | combine({ 'instance_id': item.inst_name }) }}"
  loop: "{{ instances }}"
  loop_control:
    label: "{ 'instance_id': '{{ item.inst_name }}', 'mmfa_action': {{ item.mmfa_configuration.mmfa_action|default('') }} }"
  when:
    - item.inst_name == inst_name
    - item.mmfa_configuration is defined
  notify: Commit Changes
