# Default variables for configuration of management root content
instances: []

# variables to control whether to configure one instance and/or one target at a time or everything from the configurations
inst_name: "{{ item.0.inst_name if (item is defined) }}"
file: "{{ item.1.file if (item is defined and item.1 is defined and item.1.file is defined) }}"

# directory: "{{ item.1.directory if (item is defined and item.1 is defined and item.1.directory is defined) }}"
target: "{{ item.1.target | default(omit) }}"
filename: "{{ item.1.file if (item.1.file is defined) }}"

# No filter at runtime on mgmt_action if none is defined. This will try every feasable action in the play
mgmt_action: "None"

# Do not delete any files as default behavior
delete_missing: false

# control file import tasks
skip_imports: false # whether to skip multiple file imports from inventory
skip_import: "{{ skip_imports }}"  # whether to skip a single file import

# control file export tasks
skip_exports: false # whether to skip multiple file exports from inventory
skip_export: "{{ skip_exports }}"  # whether to skip a single file export

# skip slower sync task
skip_sync: false

# Default homedir.  This defaults to inventory_dir for backwards compatibility reasons,
#  even though the inventory_dir should NEVER be used to store files (should basically only contain files that can be parsed by an inventory_plugin)
#  a better default value for homedir, would be playbook_dir:
#       `homedir: "{{ playbook_dir }}"`
#  so this is a variable
homedir: "{{ inventory_dir }}"
