---
- name: Get the signer certificates
  ibm.isam.isam:
    log: "{{ log_level | default('INFO') }}"
    force: "{{ force | default(False) }}"
    action: ibmsecurity.isam.base.ssl_certificates.signer_certificate.get_all
    isamapi:
      kdb_id: "{{ get_signer_certificates_kdb_id }}"
  register: ret_obj

- name: set a fact to be used by other components
  ansible.builtin.set_fact:
    get_signer_certificates_ret_obj: "{{ ret_obj['data'] }}"
