---
- name: Converge - delete
  hosts: all
  gather_facts: False
  tasks:
    - name: "Testing delete - configure_authentication_mechanisms"
      include_role:
        name: "configure_authentication_mechanisms"
      vars:
        authentication_mechanisms:
          - mechanism_action: delete
            name: "{{ molecule.name }}"
