---
# This is an example playbook to execute Ansible tests.

- name: Verify
  hosts: all
  gather_facts: no
  tasks:
    - ansible.builtin.include_vars:
        file: "../vars/main.yml"
        name: inventory

    - name: "Include get_access_control_policies"
      ansible.builtin.include_role:
        name: "get_access_control_policies"
      vars:
        get_access_control_policies:
          - name: "{{ inventory.name }}"

    - name: "Assert that policy {{ inventory.name }} is added"
      assert:
        that: ret_obj.results.0.data.name == inventory.name
        fail_msg: "Policy {{ inventory.name }} was not added"
        success_msg: "Policy {{ inventory.name }} was added"
