---
- name: Get all Federations
  ibm.isam.isam:
    log: "{{ log_level | default('INFO') }}"
    force: "{{ force | default(False) }}"
    action: ibmsecurity.isam.fed.federations.get_all
  register: ret_obj

- name: Set variable for use by rest of playbook
  ansible.builtin.set_fact:
    federation_ret_obj: "{{ ret_obj }}"
