# main task to configure authentication policies
#   Example:
#     authentication_policies:
#       - name: InfoMapAuthenticationName
#         description: test
#         predefined:	false
#         properties:
#           - key: infoMap.JSRule
#             value:	test
#           - key: infoMap.HTMLPage
#             value:	test.html
#         typeName: InfoMapAuthenticationName
#         uri:	urn:ibm:security:authentication:asf:mechanism:test
---
- name: Configure authentication mechanisms
  ibm.isam.isam:
    log:       "{{ log_level | default(omit) }}"
    force:     "{{ force | default(omit) }}"
    action: ibmsecurity.isam.aac.authentication.policies.set
    isamapi: "{{ item }}"
  with_items: "{{ authentication_policies }}"
  when: item.name == name
  loop_control:
    label: "{{ item.name }}"
  notify: Commit Changes
