---

- name: Verify
  hosts: all
  gather_facts: no
  tasks:
    - ansible.builtin.include_vars::
        file: "../../vars/main.yml"
        name: inventory

    - name: "Include get_api_protection_client"
      include_role:
        name: "get_api_protection_clients"
      vars:
        get_api_protection_clients: "{{ inventory.molecule_clients }}"

    - ansible.builtin.debug:
        var: ret_obj

    - name: "Assert that policy {{ inventory.molecule_client_name }} is added"
      assert:
        that:
          - ret_obj.results.0.data.name is defined
          - ret_obj.results.0.data.companyUrl is defined
          - ret_obj.results.0.data.name == inventory.molecule_client_name
          - ret_obj.results.0.data.companyUrl  == inventory.molecule_companyUrl
        fail_msg: "API Protection client {{ inventory.molecule_client_name }} was not updated"
        success_msg: "API Protection client {{ inventory.molecule_client_name }} was updated"
