---
- name: Create junction inst_name {{ item.0.inst_name + " - junction_point " + item.1.junction_point }}
  ibm.isam.isam:
    log: "{{ log_level | default(omit) }}"
    force: "{{ force | default(omit) }}"
    action: ibmsecurity.isam.web.reverse_proxy.junctions.set
    isamapi: "{{ item.1 | ibm.isam.exclude('servers') | combine(item.1.servers[0]) | combine({'reverseproxy_id':item.0.inst_name}) }}"
  register: ret_obj

- name: Add junction servers
  ibm.isam.isam:
    log: "{{ log_level | default(omit) }}"
    force: "{{ force | default(omit) }}"
    action: ibmsecurity.isam.web.reverse_proxy.junctions_server.add
    isamapi: "{{ { 'reverseproxy_id':item.0.inst_name, 'junction_point': item.1.junction_point, 'junction_type': item.1.junction_type,
      'stateful_junction': item.1.stateful_junction if (item.1.stateful_junction is defined) else 'no' } | combine(server) }}"
  when:
    - (not ret_obj.changed and ansible_check_mode) or not ansible_check_mode)
    - not (server.server_hostname == item.1.servers[0].server_hostname and force)
  loop: "{{ item.1.servers }}"
  loop_control:
    loop_var: server
    label: inst_name:[{{ item.0.inst_name }}], junction_point:[{{ item.1.junction_point }}], server_hostname:[{{ server.server_hostname }}],
      server_port:[{{ server.server_port }}]]
