---
# create
#
#   Example: OIDC connect provider and Test-App partner
#     federations:
#       - name: oidc-provider
#         partners:
#             - name: Test-App
#               enabled: true
#               role: ibm.isam.op
#               configuration:
#                 clientName: Test-App
#                 clientSecret: "ABCDEFG12345"
#                 clientId: Test-App
#                 redirectUris:
#                   - http://test-app.demo.com
#                 responseTypes:
#                   - id_token token
#                 allowRefreshGrant: no
#                 allowIntrospect: no
#                 scope:
#                   - openid
#                 preauthorizedScope:
#                   - openid
- name: Create federation partners
  hosts: "{{ hosts | default('all') }}"
  gather_facts: false
  roles:
    - role: ibm.isam.fed.create_federation_partners
      tags: create_federation_partners
