---
# create
#   set point of contact profile:
#    set_current_point_of_contact_name: Non-Access Manager Username, Access Manager groups and extended attributes

- hosts: "{{ hosts | default('all')}}"
  gather_facts: False
  roles:
    - role: ibm.isam.set_current_point_of_contact
      tags: set_current_point_of_contact
