---
- name: Create group account
  hosts: all
  roles:
    - role: ibm.isam.add_sysaccount_group
      tags: ["system account", "group"]

- name: Create user account
  hosts: all
  roles:
    - role: ibm.isam.add_sysaccount_user
      tags: ["system account", "user"]
