---
# Run PDAdmin commands - against all but restricted appliances

- name: Run PDAdmin command(s) against an appliance
  hosts: all:!restricted
  gather_facts: False
  vars:
    pdadmin_commands: "{{ lookup('file', pdadmin_file) }}"
  roles:
    - role: ibm.isam.execute_pdadmin
      execute_pdadmin_domain: "Default"
      execute_pdadmin_commands: "{{pdadmin_commands}}"
      execute_pdadmin_isamuser: "{{sec_master_id}}"
      execute_pdadmin_isampwd: "{{sec_master_pwd}}"
