---
# Run PDAdmin commands - against all but restricted appliances

- name: Run PDAdmin command(s) against an appliance
  hosts: all:!restricted
  connection: local
  gather_facts: no
  vars:
    pdadmin_commands: "{{ lookup('file', pdadmin_file) }}"
  roles:
    - role: execute_pdadmin
      execute_pdadmin_commands: "{{pdadmin_commands}}"
      execute_pdadmin_isamuser: "{{sec_master_id}}"
      execute_pdadmin_isampwd:  "{{sec_master_pwd}}"
