# Create a Report on Firmware/Fixpack levels

- name: Create Report on Firmware and Fixpacks
  hosts: all
  gather_facts: yes
  roles:
    - role: ibm.isam.start_config

    - role: ibm.isam.get_firmware

    - role: ibm.isam.get_fixpack

    - role: ibm.isam.gen_report
      gen_report_template: "report_fix_levels.template"
      gen_report_dir: "~"
