---
# Restart reverse proxy that need it, pass variable force as True to force restarts
- name: Restart Reverse Proxy
  hosts: all
  gather_facts: no
  tasks:
    - debug: msg="Trigger Reverse Proxy restarts"
      changed_when: True
      notify:
        - 'ibm.isam.common_handlers: Restart Reverse Proxy'
