# main task to configure user registry
---
- name: Configure user registry
  ibm.isam.isam:
    log:       "{{ log_level | default(omit) }}"
    force:     "{{ force | default(omit) }}"
    action: "ibmsecurity.isam.aac.user_registry.user.{{ item.action }}"
    isamapi: "{{ item | exclude('action') }}"
  when: item.action and item.id == id
  with_items: "{{ user_registry }}"
  loop_control:
  notify: Commit Changes
