# main task to upload jmt files
# Example:
#   jmt_files:
#     - filename: uploads/jmt/jmt.conf
---
- name: Upload jmt files
  ibm.isam.isam:
    log: "{{ log_level | default(omit) }}"
    force: "{{ force | default(omit) }}"
    action: ibmsecurity.isam.web.junction_mapping.import_file
    isamapi:
      id: "{{ item.file | basename }}"
      filename: "{{ homedir }}/{{ item.file }}"
  loop: "{{ jmt_files }}"
  notify: Commit Changes
