---

- name: Verify - upload mapping rules
  hosts: all
  gather_facts: no
  tasks:
    - name: load variables
      ansible.builtin.include_vars:
        file: "../vars/vars.yml"

    - name: "Get the mapping rule {{ molecule_name }}"
      include_role:
        name: "get_mapping_rule_by_name"
      vars:
        get_mapping_rule_names:
          - name: "{{ molecule_name }}"

    - name: "Assert that the mapping rule {{ molecule_name }} was uploaded"
      assert:
        that:
          - ret_obj.results.0.data.name is defined
          - ret_obj.results.0.data.name == molecule_name
        fail_msg: "Mapping Rule {{ molecule_name }} was not uploaded"
        success_msg: "Mapping Rule {{ molecule_name }} was uploaded"
