---
# configure
- name: Configure runtime template root
  hosts: "{{ hosts | default('all')}}"
  roles:
    - role: ibm.isam.aac.configure_runtime_template_root
      tags: configure_runtime_template_root
