---
# Configure
#   configure api protection definitions
#   Example:
#     api_protection:
#       definitions:
#         - name: oauth-provider
#           description: API protection for OAuth service provider
#           grantTypes:
#             - AUTHORIZATION_CODE
#           tcmBehavior: NEVER_PROMPT
- hosts: "{{ hosts | default('all')}}"
  gather_facts: false
  roles:
    - role: ibm.isam.aac.configure_api_protection_definitions
      tags: configure_api_protection_definitions
