---
# Create
#   create authentication mapping mechanisms
#   Example:
#     authentication_mechanisms:
#       - name: MappinRule1
#         uri: "urn:ibm:security:authentication:asf:mechanism:mappingRule1"
#         description: "Mapping Rule 1"
#         typeName: InfoMapAuthenticationName
#         properties:     
#           - key: infoMap.HTMLPage
#             value: ""
#           - key: infoMap.JSRule
#             value: MappingRule1
- hosts: "{{ hosts | default('all')}}"
  connection: local
  gather_facts: no
  roles:
    - role: aac/create_authentication_mechanisms
      tags: create_authentication_mechanisms
      