---
# Create
#   create authentication policies
#   Example:
#     authentication_policies:
#       - name: authPolicy1
#         mechUri: "urn:ibm:security:authentication:asf:mechanism:authPolicy1"
#         uri:            "urn:ibm:security:authentication:asf:authPolicy1"
#         description:    "authentication policy 1"
#         enabled:        "True"
- hosts: "{{ hosts | default('all')}}"
  gather_facts: no
  roles:
    - role: ibm.isam.aac/create_authentication_policies
      tags: create_authentication_policies
