---
# Create
#   create api protection definitions
#   Example:
#     api_protection:
#       definitions:
#         - name: oauth-provider
#           description: API protection for OAuth service provider
#           grantTypes:
#             - AUTHORIZATION_CODE
#           tcmBehavior: NEVER_PROMPT
#           clients:
#             - name: TestApp
#               companyName: IBM demo client for OAuth flows
#               redirectUri:
#                 - https://localhost
#               contractType: ADMINISTRATIVE
#               definitionName: oauth-provider
- hosts: "{{ hosts | default('all')}}"
  gather_facts: no
  roles:
    - role: ibm.isam.aac/create_api_protection_clients
      tags: create_api_protection_clients
