---
# Create runtime template directory
#   Example:
#    runtime_templates:
#      - type: dir
#        path: C/authsvc/api
- hosts: "{{ hosts | default('all')}}"
  gather_facts: False
  roles:
    - role: ibm.isam.create_runtime_template_directories
      tags: create_runtime_template_directories
