---
# Disable
#   disable all authentication policies
- hosts: "{{ hosts | default('all')}}"
  gather_facts: no
  roles:
    - role: ibm.isam.aac/disable_all_authentication_policies
      tags: disable_all_authentication_policies
