# main task to create federation partners
#   Example: OIDC connect provider and Test-App partner
#     federations:
#       - name: oidc-provider
#         partners:
#             - name: Test-App
#               enabled: true
#               role: ibm.isam.op
#               configuration:
#                 clientName: Test-App
#                 clientSecret: "ABCDEFG12345"
#                 clientId: Test-App
#                 redirectUris:
#                   - http://test-app.demo.com
#                 responseTypes:
#                   - id_token token
#                 allowRefreshGrant: no
#                 allowIntrospect: no
#                 scope:
#                   - openid
#                 preauthorizedScope:
#                   - openid
- name: Create federation partners
  ibm.isam.isam:
    log: "{{ log_level | default(omit) }}"
    force: "{{ force | default(omit) }}"
    action: ibmsecurity.isam.fed.partners.set
    isamapi: "{{
          { 'federation_name': item.0.name,
            'partner_name': item.1.name,
            'enabled': item.1.enabled
          }
          | combine({ 'role': item.1.role } if (item.1.role is defined) else {})
          | combine({ 'configuration': item.1.configuration } if (item.1.configuration is defined) else {})
    }}"
  with_subelements:
    - "{{ federations }}"
    - partners
    - skip_missing: True
  when: item.0.name == fed_name and partner_name == item.1.name
  notify: Commit Changes
  loop_control:
    label: "{u'federation_name': u'{{ item.0.name }}', u'partner_name': u'{{ item.1.name }}'}"
